<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIS_QL</key>
    <string>桥梁</string>
    <key>GIS_SD</key>
    <string>隧道</string>
    <key>GIS_ZCZ</key>
    <string>治超站</string>
    <key>GIS_SFZ</key>
    <string>收费站</string>
    <key>GIS_KBQB</key>
    <string>可变情报板</string>
    <key>GIS_JTLG</key>
    <string>交通量观测站</string>
    <key>GIS_JKSSSB</key>
    <string>检测摄像设备</string>
    <key>GIS_CRK</key>
    <string>出入口</string>
    <key>GIS_FWQ</key>
    <string>服务区</string>
    <key>GIS_CLWXQY</key>
    <string>车辆维修企业</string>
    <key>GIS_HYZD</key>
    <string>货运站点</string>
    <key>GIS_HYZZYTQY</key>
    <string>货运装载源头企业</string>
    <key>GIS_JPJG</key>
    <string>驾培机构</string>
    <key>GIS_KYBX</key>
    <string>客运班线</string>
    <key>GIS_KYZD</key>
    <string>客运站点</string>
    <key>GIS_CGGGQCYYXL</key>
    <string>常规公众汽车运营线路</string>
    <key>GIS_CGGGQCYYZD</key>
    <string>常规公众汽车运营站点</string>
    <key>GIS_GGDQCTCBYC</key>
    <string>公共电汽车停车保养场</string>
    <key>GIS_CSGDJTYYXL</key>
    <string>城市轨道交通运营线路</string>
    <key>GIS_CSGDJTYYZD</key>
    <string>城市轨道交通运营站点</string>
    <key>GIS_CZCTKD</key>
    <string>出租车停靠点</string>
    <key>GIS_ZDDK</key>
    <string>重点渡口</string>
    <key>GIS_MT</key>
    <string>码头</string>
    <key>GIS_GK</key>
    <string>港口</string>
    <key>GIS_NHHD</key>
    <string>内河航道</string>
    <key>GIS_LX</key>
    <string>路线</string>
    </dict>
</plist>
